.header {

    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 0.8em;
    background-color: #ED0722;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,.2);
    
    &__link {
        padding: 0.8em;
        cursor: pointer;
        color: white;

        &--logout {
            margin-left: auto;
        }
    }
}

.container {
    background-color: #f5f4f5;
    padding: 5em 1em 1em;
}